# Build and Gradle
.gradle
/build
/*/build
/local.properties
local.properties
.cxx
.externalNativeBuild

# IDEs (Android Studio / IntelliJ)
.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db

# Logs And Captures
/captures
*.log

# Security keys
*.jks
*.keystore
*.p12
*.pepk